<div class="container-fluid">
    <div class="row align-items-center align-middle intro-img">
        <div class="col-sm">
            <div>
                <span class="h1 font-weight-bold nav-col text-capitalize">
                    Easy Way to Call API    
                </span>
                <br>
                <p class="text-muted mt-3">Easy and fast way to get movie data. and easy to integrate with the application <span class="text-primary">Read more</span>..</p>
            </div>
            <div class="d-flex">
                <button class="btn btn-primary btn-sm">Get Start</button>
                <button class="btn btn-info btn-sm ml-4">Read Docs</button>
            </div>
        </div>
        <div class="col-sm">
            <%= image_tag('how-to-call-api.png', width: '750px', height: '420px')%>
        </div>
    </div>
</div>